.background {
  box-sizing: border-box;
  background-color: rgb(206, 227, 248);
  margin-left: 35vw
}

.reddit {
  height: 30vh;
  width: 20vw;
}
#tabl {
  font-family: verdana;
  border: 10px inset #d82624;
}
td {
  border-bottom: 7px ridge #d82624;
}
